<font size="+2"><b>Collins Zyzzyva</b></font><br>
Version 24.0<br><br>
A program for studying words and anagramming. <br><br>
Collins Zyzzyva software Copyright &copy; 2015-2024 Twilight Century Computing.<br>
Original Zyzzyva software Copyright &copy; 2004-2014 North American SCRABBLE Players Association.<br>
Published under license with Collins, an imprint of HarperCollins Publishers Limited.<br>
All rights reserved.<br><br>
Collins Zyzzyva is free software; you can distribute it and/or modify it under the terms of the<br>
GNU General Public License as published by the Free Software Foundation; either version 2<br>
of the License, or (at your option) any later version.<br><br>
Download Page: <a href="https://scrabble.collinsdictionary.com/tools/">https://scrabble.collinsdictionary.com/tools/</a><br><br>
Source Repository: <a href="https://gitlab.com/CZ_transfer/ZyzzyvaV">https://gitlab.com/CZ_transfer/ZyzzyvaV</a>
